<!DOCTYPE html>
<html>
<head>
	<title>Cerrar Sesión</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
	{% load account %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<a href="#" class="navbar-brand">Tarea</a>
			<ul class="nav navbar-nav navbar-right">
				<p class="navbar-text"><a href="{% url 'panel-inicio' %}" class="navbar-link">Regresar</a></p>
			</ul>
		</div>
	</nav>
	<div class="container">
		{% load i18n %}
		{% block content %}
		<p>{% trans 'Are you sure you want to sign out?' %}</p>
		<form method="post" action="{% url 'account_logout' %}">
			{% csrf_token %}
			{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
			{% endif %}
			<button  class="btn btn-default navbar-btn" type="submit">{% trans 'Sign Out' %}</button>
		</form>
		{% endblock %}
	</div>
	<footer class="footer">
		<div class="container">
			<p class="text-muted">Ingeniería en Redes y Tecnología Digital</p>
		</div>
	</footer>
	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>
</html>