<!DOCTYPE html>
<html>
<head>
  <title>Registro</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
  <div class="container">
    <div class="form-signin">
		{% load i18n %}
		{% block content %}
		<h2 class="singin-heading">{% trans "Sign Up" %}</h2>

		<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

		<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" novalidate="">
			{% csrf_token %}
			{{ form.as_p }}
			{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}
			<button type="submit">{% trans "Sign Up" %} &raquo;</button>
		</form>
		{% endblock %}
  </div>
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>
</html>
